<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterView Information</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>IT AND NON IT JOBS</h1>
    <h4>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </h4>
    <p><a href="{{url_for('add')}}">ADD INFORMATION</a></p>
    <table>
        <tr>
            <th>NO:</th>
            <th>CompanyName</th>
            <th>Role</th>
            <th>Date</th>
            <th>Time</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for data in datas %}
        <tr>
            <td>{{data.ROLL_NUM}}</td>
            <td>{{data.Company_Name}}</td>
            <td>{{data.Job_Role}}</td>
            <td>{{data.DateofInterview}}</td>
            <td>{{data.TimeofInterview}}</td>
            <td>{{data.Address}}</td>
            <td><a href="{{url_for('Update',id=data.ROLL_NUM)}}">Edit</a></td>
            <td><a onclick="return confirm('Are You Sure To Delete?');" href="{{url_for('Delete',id=data.ROLL_NUM)}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>